{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "analytics.html" %}
    {% include "fbpixel.html" %}
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
 	<title>Contact Us - Puffin Cottage Holidays</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
</head>
<body>
<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<div id="wrapper">
    	<header class="masthead">
        	<div class="head-tel"><a href="tel:01834810234" title="Call 01834 810234">01834 810234</a></div>
        	<nav class="nav" role="navigation">
            	<ul class="nav-list">
                	<li><a href="/" target="_self" title="Home">Home</a></li>
                    <li><a href="/cottages/" target="_self" title="Cottages">Cottages</a></li>
                    <li><a href="/about-us/" target="_self" title="About Us">About us</a></li>
                    <li><a href="/contact-us/" target="_self" title="Contact">Contact</a></li>
                    <li><a href="/property-owners/" target="_self" title="Cottage Owners Info">Owners Info</a></li>
                </ul>
            </nav>
            <script type="text/javascript" src="{% static "js/mobile-nav.js" %}"></script>
        </header>
        <!--Container-->
        <div id="container">
            <div class="banner-container">
                <div class="logo">
                    <a href="/" target="_self" title="Puffin Cottages Home">
                        <img src="{% static "images/gfx/puffin-cottages-logo-350.png" %}">
                    </a>
                </div>
                <div class="banner-tel"><a href="tel:01834810234" title="Call 01834 810234">Call us 01834 810234</a></div>
                <img src="{% static "images/banners/banner-1440-350-porthgain-family-wall.jpg" %}" class="responsive banner">
       	    </div>
        	<main role="main">
            <!--Main Content Area-->
            <article>
           		<header>
               		<h1>Contact Puffin Cottage Holidays</h1>
           	    </header>
				{% if submitted %}
				<p>
				Thank you for your enquiry.  We will get back to you as soon as possible.
				</p>
				{% else %}

               	<p>If you have any general questions about our cottages or a booking you have made you can either call us or use the form below to send us a message. If you are a <strong>cottage owner</strong> and would like information about <strong>booking management</strong> visit our <a href="/property-owners/" target="_self" title="Cottage Owners Information">Cottage Owners page</a>.</p>
                <p class="telephone">Call: <a href="tel:01834810234">01834 810234</a> / <a href="tel:07989553750">07989553750</a></p>
                <form id="contact-form" method="post" action=".">
                    {% csrf_token %}
                   	<fieldset>
                       	<legend>General Enquiries</legend>
                        <div>
                           	<label for="name">Your Name*</label>
       						<input id="name" name="name" type="text" placeholder="Your name" required aria-required="true" tabindex="1">
                        </div>
                        <div>
                            <label for="email">Email Address*</label>
                            <input id="email" name="email_address" type="email" placeholder="you@emailaddress.co.uk" required aria-required="true" tabindex="3">
                        </div>
                        <div>
                            <label for="message" id="message">Message*</label>
                            <textarea id="message" name="message" cols="" rows="" placeholder="Enter your message here..." required aria-required="true" tabindex="4"></textarea>
                        </div>
                    </fieldset>
                    <input name="submit" id="submit" type="submit" value="Send Message" tabindex="5">
                </form>
                <p class="small-note">Learn how we handle your information in our <a href="/privacy-policy/" target="_self" title="Privacy Policy">Privacy Policy</a>. Some fields * are required.</p>
                <h3>Our Address</h3>
                <div itemscope itemtype="http://schema.org/LocalBusiness">
                    <div itemprop="name"><strong>Puffin Cottage Holidays</strong></div>
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <span itemprop="streetAddress">Checkley House, Westfield Road</span>,
                      <span itemprop="addressLocality">Saundersfoot</span>,
                      <span itemprop="addressRegion">Pembrokeshire</span>,
                      <span itemprop="postalCode">SA69 9JQ</span>,
                      <span itemprop="addressCountry">Wales</span>.
                    </div>
                </div>

				{% endif %}
           	  </article>
            </main>
            <!--End Main Content Area-->
			{% include "aside.html" %}
        </div>
        <!--End Container -->
		{% include "footer.html" %}
    </div>
    <script src="{% static "js/plugins.js" %}></script>
</body>
</html>
