        <!--Footer-->
        <footer>
        	<div class="address">
				<div itemscope itemtype="http://schema.org/LocalBusiness">
                    <a itemprop="url" href="http://www.puffincottageholidays.co.uk" target="_blank" title="Puffin Holiday Cottages"><div itemprop="name"><strong>Puffin Cottage Holidays</strong></div>
                    </a>
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    	<span itemprop="streetAddress">Checkley House, Westfield Road</span>, 
                    	<span itemprop="addressLocality">Saundersfoot</span>, 
                    	<span itemprop="addressRegion">Pembrokeshire</span>, 
                    	<span itemprop="postalCode">SA69 9JQ</span>, 
                    	<span itemprop="addressCountry">Wales</span>
                    </div>
				</div>
			</div>
        	<div class="credit">
            	<a href="/termsandconditions/" target="_self" title="Terms &amp; Conditions of Booking">Terms</a> | <a href="/static/sitemap.xml" target="_self" title="Sitemap">Sitemap</a> | <a href="/privacy-policy/" target="_self" title="Privacy Policy">Privacy Policy</a> | <a href="http://www.jamieking.co.uk/website-design.html" target="_blank" title="Web Design Pembs">Web Design Pembs</a> by <a href="http://www.jamieking.co.uk/about.html" target="_blank" title="Jamie King Media">Jamie King Media</a>
            </div>
        </footer>
        <!--End Footer-->
